/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
:root {
  --primary-color: #e46c57;
  --white-color: #ffffff;
  --alt-white: #fff6d4;
  --text-color: #232727;
  --light-gray: #b4bcbc;
  --gray-color: #888888;
  --green-color: #415d43;
  --black-color: #0a0a0a;
  --invert-primary-color: #586ba4;
  --invert-text-color: #ffffff;
  --invert-bg-color: #2b3137;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 80px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: var(--white-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

.container {
  max-width: 1400px;
  padding: 0 10px;
}

.card {
  box-shadow: 0 1px 2px 0 var(--gray-color);
  border-radius: 10px;
  margin-bottom: 15vh;
  width: 40%;
  padding: 10px 10px 15px 10px;
  margin-top: 25px;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginForm {
  margin-top: 100px;
}

.SignupForm {
  margin-top: 35px;
}

.form__btn {
  color: var(--white-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.form__btn:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white-color);
  transform: scale(1.01);
}

@media (max-width: 767px) {
  .LoginForm {
    margin-top: 100px;
  }

  .SignupForm {
    margin-top: 75px;
  }
}
