.listingDetail-card {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.listing-title {
  font-size: 42px;
  font-weight: 600;
  color: var(--text-color);
}

.listingDetail-img img {
  float: left;
  height: 400px;
  width: 600px;
  border-radius: 10px;
}

.listing-location {
  font-size: 18px;
}

.listing-right-side {
  margin-left: 20px;
}

.listings-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  font-size: 1.2rem;
  color: var(--text-color);
}

.listing-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.listing-price {
  font-size: 24px;
  font-weight: 600;
}

.listing-btn {
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 500;
}

.icon-btn-detail {
  background: transparent;
  border: none;
}

.icon-detail {
  font-size: 42px;
  opacity: 0.8;
  margin-top: 20px;
  margin-right: 20px;
  z-index: 5;
}

.unliked-icon-detail {
  color: var(--alt-white);
}

.liked-icon-detail {
  color: var(--primary-color);
}

.listings-card-img-container-detail {
  position: relative;
}

.listings-card-img-container-detail .icon-btn-detail {
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 1223px) {
}

@media (max-width: 1050px) {
  .listingDetail-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .listing-title {
    margin-left: 40px;
  }

  .listingDetail-img img {
    width: 100%;
    margin-left: 40px;
  }

  .listing-location {
    display: none;
  }
  .icon-detail {
    margin-top: 20px;
    margin-right: -20px;
  }
}

@media (max-width: 767px) {
  .listingDetail-img img {
    width: 100%;
    margin-left: 0;
  }

  .listing-title {
    margin-left: 0;
  }

  .listing-right-side {
    margin: 30px 0;
  }

  .listings-card {
    padding: 0;
  }

  .icon-detail {
    margin-top: 20px;
    margin-right: 20px;
  }
}
