.card-img {
  border-radius: 10px;
  height: 250px;
}

.card-location {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
}

.card-type {
  display: block;
  margin-bottom: 15px;
  margin-top: 5px;
}

.card-price {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 1223px) {
  .listing__card {
    max-width: 33%;
  }
}

@media (max-width: 950px) {
  .listing__card {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .card-img {
    float: left;
  }
}
