.card-img {
  border-radius: 10px;
  height: 250px;
  box-shadow: 0 2px 5px 0 var(--gray-color);
}

.card-location {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
}

.card-type {
  display: block;
  margin-bottom: 15px;
  margin-top: 5px;
}

.card-price {
  font-size: 18px;
  font-weight: 600;
}

.icon-btn {
  background: transparent;
  border: none;
}

.icon {
  font-size: 38px;
  opacity: 0.8;
  padding-top: 10px;
  padding-right: 10px;
  z-index: 5;
}

.unliked-icon {
  color: var(--alt-white);
}

.liked-icon {
  color: var(--primary-color);
}

.listings-card-img-container {
  position: relative;
}

.listings-card-img-container .icon-btn {
  position: absolute;
  right: 0;
}
