.listingDetail-card {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.listing-title {
  font-size: 42px;
  font-weight: 600;
  color: var(--text-color);
}

.listingDetail-img img {
  float: left;
  height: 400px;
  width: 600px;
  border-radius: 10px;
}

.listing-location {
  font-size: 18px;
}

.listing-right-side {
  margin-left: 20px;
}

.listings-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  font-size: 1.2rem;
  color: var(--text-color);
}

.listing-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.listing-price {
  font-size: 24px;
  font-weight: 600;
}

.listing-btn {
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1223px) {
}

@media (max-width: 1050px) {
  .listingDetail-card {
    flex-direction: column;
  }

  .listing-title {
    font-size: 24px;
  }

  .listingDetail-img img {
    width: 75%;
    height: 275px;
  }
  .listing-right-side {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .listings-card {
    width: fit-content;
    padding: 8px;
    justify-content: space-between;
  }
  .listing-location {
    display: none;
  }
}

@media (max-width: 767px) {
  .listing__card {
    min-width: 100%;
  }
}
