.login__card {
  width: 40%;
  padding: 10px 10px 15px 10px;
  margin-top: 25px;
}
.icon-palm {
  font-size: 300px;
}

.login__btn {
  color: var(--white-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.login__btn:hover {
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

@media (max-width: 767px) {
  .login__card {
    width: 75%;
  }
}
