.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newListing__card {
  border-radius: 25px;
  width: 75%;
}

.newLisitng__btn {
  color: var(--white-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.newLisitng__btn:hover {
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

@media (max-width: 767px) {
  .newListing__card {
    width: 75%;
  }
}
