.newListing__card {
  border-radius: 10px;
  width: 50%;
}

input[type="file"]::file-selector-button {
  border: 2px solid var(--primary-color);
  color: var(--white-color);
  border-radius: 10px;
  margin: 0 5px;
  background-color: var(--primary-color);
}

input[type="file"]::file-selector-button:hover {
  transform: scale(1.03);
}

@media (max-width: 767px) {
  .newListing__card {
    width: 75%;
  }
}
